# Игнорировать файлы с расширением .log
*.log
# Игнорировать директорию .idea
.idea/
# Игнорировать директорию с временными файлами
temp/
output/


# Игнорировать файл с конфиденциальной информацией
BASE_URL.txt
proxies.txt

.venv